
.lol{
    background-color:rgb(13, 238, 13);
    font-size: 800%
    }
    
    .img{
        width:400;
        length:200;
        }

#myHeader {
    color: rgb(255, 251, 251);
    padding: 40px;
    text-align: center;